<!-- calls partial display navbar -->
<%= render 'layouts/navbar' %>

<!-- dislay header -->
<header class="intro-header" style="background-image: images-url('');">
	<%= image_tag 'shaeffer-farm-orange.jpg', :class => "intro-header", :style => "position: absolute; left: 0px; top: -65%; right: auto; bottom: auto; height: auto; width: 100%;"%>
	    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                	<h1>About me</h1>
                    <hr class="small">
                    <span class="subheading">
                    	You like biking? Great! Me too.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
            	<h1>Hi guys</h1>
            	<p>
            		Welcome to my page, I am Yuly, founder of Yu&sup2; Bike, this is my blog built by me using Ruby on Rails (RoR) language. My background is a mix of surface knowlege about everything, (ie. Servers, Firewall Configurations, SDLC etc...). As I am learning about RoR, I am also trying to introduce my mission for bicycling. I will have more to share, please stay tuned.
            	</p>
            </div>
        </div>
    </div>
</div>