
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">

	            <h2 class="post-title"><%= @post.title %></h2>

	            <p class="date">Submitted <%= time_ago_in_words(@post.created_at) %> Ago<br/>
				<!-- Submitted < % = time_ago_in_words post.created_at %> Ago (this line doesn't work here)-->
				</p>

				<!--# Adds the body content-->
				<p class="body">
					<%= @post.body %>
				</p>
			</div>
		</div>
	</div>
</div>